# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending 645-675 per student actually underperformed compared to schools with smaller budgets (585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

In [2]:
# Calculate the Totals (Schools and Students)
school_count = len(school_data_complete["school_name"].unique())
student_count = school_data_complete["Student ID"].count()

# Calculate the Total Budget
total_budget = school_data["budget"].sum()
student_count

39170

In [3]:
# Calculate the Totals (Schools and Students)
school_count = len(school_data_complete["school_name"].unique())
student_count = school_data_complete["Student ID"].count()

# Calculate the Total Budget
total_budget = school_data["budget"].sum()
student_count

39170

In [4]:
# Calculate the Average Scores
average_math_score = school_data_complete["math_score"].mean()
average_reading_score = school_data_complete["reading_score"].mean()

In [5]:
# Calculate the Average Scores
average_math_score = school_data_complete["math_score"].mean()
average_reading_score = school_data_complete["reading_score"].mean()

In [6]:
# Calculate the Percentage Pass Rates (70 or greater)
passingMath = (school_data_complete[school_data_complete["math_score"] >= 70]).count()["student_name"]
percentagePassingMath = passingMath / float (student_count) * 100

In [7]:
# Calculate the percentage of students with a passing reading score (70 or greater)
passingReading = (school_data_complete[school_data_complete["reading_score"] >= 70]).count()["student_name"]
percentagePassingReading = passingReading / float (student_count) * 100
percentagePassingReading

85.80546336482001

In [8]:
# Calculate the overall passing rate (the percentage of students who passed math AND reading),
# passingmath + passingreading / students_count)*100
passingMathReading = school_data_complete[(school_data_complete["math_score"] >= 70) + (school_data_complete["reading_score"] >= 70)].count()["student_name"]

percentageOverallPassingRate = passingMathReading / float(student_count) * 100
percentageOverallPassingRate

95.61399029869798

In [9]:
# Display the DataFrame
district_summary_df = pd.DataFrame({
    "Total Schools": [school_count],
    "Total Students": [student_count],
    "Total Budget": [total_budget],
    "Average Math Score": [average_math_score],
    "Average Reading Score": [average_reading_score],
    "% Passing Math": [percentagePassingMath],
    "% Passing Reading": [percentagePassingReading],
    "% Overall Passing Rate": [percentageOverallPassingRate]
    })


# Minor Data Cleanup

district_summary_df[["Total Schools",
      "Total Students",
      "Total Budget",
      "Average Math Score",
      "Average Reading Score",
      "% Passing Math",
      "% Passing Reading",
      "% Overall Passing Rate"]]

#formatting
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)

district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,95.61399

## School Summary

In [10]:
# Get the students who passed math and passed reading by creating separate filtered DataFrames.
# Determine the School Type
#schooltype
SchoolType = school_data.set_index(["school_name"])["type"]
# Calculate the total student count
#Total students
TotalStudents = school_data_complete["school_name"].value_counts()


# Calculate the total school budget and per capita spending
#School budget
TotalSchoolBudgets = school_data_complete.groupby(["school_name"]).mean()["budget"]
#per spending
perSchoolCapita = TotalSchoolBudgets / TotalStudents

# Calculate the average test scores
averageMathScore = school_data_complete.groupby(["school_name"]).mean()["math_score"]
averageReadingScore = school_data_complete.groupby(["school_name"]).mean()["reading_score"]

#passing math
passingMath = school_data_complete[(school_data_complete["math_score"] >= 70)]
#passing Read                                 
passingReading = school_data_complete[(school_data_complete["reading_score"] >= 70)]

# Get the the students who passed both reading and math in a separate DataFrame.
# Calculate the percentage of students with a passing reading score (70 or greater)
passingMathReading = school_data_complete[(school_data_complete["reading_score"] >= 70) + (school_data_complete["math_score"] >= 70)]

In [11]:
#  Calculate the Percentage Pass Rates
perSchoolPassingMath = passingMath.groupby(["school_name"]).count()["student_name"] / TotalStudents * 100
perSchoolPassingReading = passingReading.groupby(["school_name"]).count()["student_name"] / TotalStudents * 100
percentageOverallPassingRate = passingMathReading.groupby(["school_name"]).count()["student_name"] / TotalStudents * 100

In [13]:
# Convert to DataFrame
school_summary_df = pd.DataFrame({"School Type": SchoolType,
      "Total Students": TotalStudents,
      "Total School Budget": TotalSchoolBudgets,
      "Per Student Budget": perSchoolCapita,
      "Average Math Score": averageMathScore,
      "Average Reading Score": averageReadingScore,
      "% Passing Math": percentagePassingMath,
      "% Passing Reading": percentagePassingReading,
      "% Overall Passing Rate": percentageOverallPassingRate})


# Minor data wrangling
school_summary_df["Total School Budget"] = school_summary_df["Total School Budget"].map("${:,.2f}".format)
school_summary_df["Per Student Budget"] = school_summary_df["Per Student Budget"].map("${:,.2f}".format)


# Display the DataFrame
per_school_summary = school_summary_df[["School Type",
      "Total Students",
      "Total School Budget",
      "Per Student Budget",
      "Average Math Score",
      "Average Reading Score",
      "% Passing Math",
      "% Passing Reading",
      "% Overall Passing Rate"]].head()

per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,74.980853,85.805463,93.971061
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,74.980853,85.805463,99.838536
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,74.980853,85.805463,93.523228
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,74.980853,85.805463,93.318729
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,74.980853,85.805463,99.931880

## Top Performing Schools (By % Overall Passing)

In [16]:
# Sort and show top five schools

# Create a dataframe to hold the above results
school_summary_df = pd.DataFrame({"School Type": SchoolType,
      "Total Students": TotalStudents,
      "Total School Budget": TotalSchoolBudgets,
      "Per Student Budget": perSchoolCapita,
      "Average Math Score": averageMathScore,
      "Average Reading Score": averageReadingScore,
      "% Passing Math": percentagePassingMath,
      "% Passing Reading": percentagePassingReading,
      "% Overall Passing Rate": percentageOverallPassingRate})

# Sort and display the top five schools in overall passing rate
school_summary_df = school_summary_df.sort_values(["% Overall Passing Rate"], ascending=False)

# Optional: give the displayed data cleaner formatting
school_summary_df["Total School Budget"] = school_summary_df["Total School Budget"].map("${:,.2f}".format)
school_summary_df["Per Student Budget"] = school_summary_df["Per Student Budget"].map("${:,.2f}".format)

school_summary_df[["School Type",
      "Total Students",
      "Total School Budget",
      "Per Student Budget",
      "Average Math Score",
      "Average Reading Score",
      "% Passing Math",
      "% Passing Reading",
      "% Overall Passing Rate"]].head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,74.980853,85.805463,100.000000
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,74.980853,85.805463,99.931880
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,74.980853,85.805463,99.838536
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,74.980853,85.805463,99.829642
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,74.980853,85.805463,99.824792

## Bottom Performing Schools (By % Overall Passing)

In [17]:
# Sort and show bottom five schools
# Sort and display the five worst-performing schools
school_summary_df = school_summary_df.sort_values(["% Overall Passing Rate"], ascending=True)

school_summary_df[["School Type",
      "Total Students",
      "Total School Budget",
      "Per Student Budget",
      "Average Math Score",
      "Average Reading Score",
      "% Passing Math",
      "% Passing Reading",
      "% Overall Passing Rate"]].head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,74.980853,85.805463,93.318729
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,74.980853,85.805463,93.486459
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,74.980853,85.805463,93.523228
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,74.980853,85.805463,93.598400
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,74.980853,85.805463,93.740811

## Math Scores by Grade

In [18]:
# Create data series of scores by grade levels using conditionals

# Group each by school name

grade9th_ds = school_data_complete.loc[school_data_complete["grade"] == "9th"].groupby(["school_name"])["math_score"].mean()
grade10th_ds = school_data_complete.loc[school_data_complete["grade"] == "10th"].groupby(["school_name"])["math_score"].mean()
grade11th_ds = school_data_complete.loc[school_data_complete["grade"] == "11th"].groupby(["school_name"])["math_score"].mean()
grade12th_ds = school_data_complete.loc[school_data_complete["grade"] == "12th"].groupby(["school_name"])["math_score"].mean()

# Combine the series into a dataframe
scores_by_grade = pd.DataFrame({"9th": grade9th_ds,
      "10th": grade10th_ds,
      "11th": grade11th_ds,
      "12th": grade12th_ds})

scores_by_grade[["9th", "10th", "11th", "12th"]]

# Minor data wrangling
scores_by_grade = scores_by_grade[["9th", "10th", "11th", "12th"]]
scores_by_grade.index.name = None

# Display the DataFrame
scores_by_grade

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

In [19]:
# Create data series of scores by grade levels using conditionals
grade9th_ds = school_data_complete[(school_data_complete["grade"] == "9th")]
grade10th_ds = school_data_complete[(school_data_complete["grade"] == "10th")]
grade11th_ds = school_data_complete[(school_data_complete["grade"] == "11th")]
grade12th_ds = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group each by school name
grade9th_ds_scores = grade9th_ds.groupby(["school_name"]).mean()["reading_score"]
grade10th_ds_scores = grade10th_ds.groupby(["school_name"]).mean()["reading_score"]
grade11th_ds_scores = grade11th_ds.groupby(["school_name"]).mean()["reading_score"]
grade12th_ds_scores = grade12th_ds.groupby(["school_name"]).mean()["reading_score"]


# Combine series into single DataFrame
scores_by_grade = pd.DataFrame({"9th": grade9th_ds_scores, "10th": grade10th_ds_scores,
                                "11th": grade11th_ds_scores, "12th": grade12th_ds_scores})



# Minor data wrangling
scores_by_grade = scores_by_grade[["9th", "10th", "11th", "12th"]]
scores_by_grade.index.name = None

# Display the DataFrame
scores_by_grade

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

In [20]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
group_names = ["<$585", "$585-630", "$630-645", "$645-680"]

In [21]:
# Create a copy of the school summary since it has the "Per Student Budget" 
#  This step can be skip but its best to make a copy. 
school_spending_df = per_school_summary

In [22]:
# Categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(perSchoolCapita, spending_bins, labels=group_names, right=False)

school_spending_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate,Spending Ranges (Per Student)
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,74.980853,85.805463,93.971061,$585-630
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,74.980853,85.805463,99.838536,<$585
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,74.980853,85.805463,93.523228,$630-645
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,74.980853,85.805463,93.318729,$630-645
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,74.980853,85.805463,99.931880,$585-630

In [24]:
#  Calculate averages for the desired columns.
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing Rate"]

In [25]:
# Assemble into DataFrame
spending_summary = pd.DataFrame({"Average Math Score" : spending_math_scores.round(2),
                                 "Average Reading Score": spending_reading_scores.round(2),
                                 "% Passing Math": spending_passing_math.round(2),
                                 "% Passing Reading": spending_passing_reading.round(2),
                                 "% Overall Passing": overall_passing_spending.round(2)})



# Minor data wrangling
spending_summary = spending_summary[["Average Math Score",
                                     "Average Reading Score",
                                     "% Passing Math", "% Passing Reading",
                                     "% Overall Passing"]]


# Display results
spending_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,83.06,83.98,74.98,85.81,99.84
$585-630,80.20,82.43,74.98,85.81,96.95
$630-645,76.91,80.95,74.98,85.81,93.42
$645-680,NaN,NaN,NaN,NaN,NaN

## Scores by School Size

In [26]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [27]:
# Categorize the spending based on the bins

per_school_summary["School Size"] = pd.cut(per_school_summary["Total Students"], size_bins, labels=group_names, right=False)

per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate,Spending Ranges (Per Student),School Size
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,74.980853,85.805463,93.971061,$585-630,Large (2000-5000)
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,74.980853,85.805463,99.838536,<$585,Medium (1000-2000)
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,74.980853,85.805463,93.523228,$630-645,Large (2000-5000)
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,74.980853,85.805463,93.318729,$630-645,Large (2000-5000)
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,74.980853,85.805463,99.931880,$585-630,Medium (1000-2000)

In [29]:
# Calculate averages for the desired columns.
size_math_scores = per_school_summary.groupby(["School Size"]).mean()["Average Math Score"]
size_reading_scores = per_school_summary.groupby(["School Size"]).mean()["Average Reading Score"]
size_passing_math = per_school_summary.groupby(["School Size"]).mean()["% Passing Math"]
size_passing_reading = per_school_summary.groupby(["School Size"]).mean()["% Passing Reading"]
size_overall_passing = per_school_summary.groupby(["School Size"]).mean()["% Overall Passing Rate"]

In [31]:
# Assemble into DataFrame
size_summary = pd.DataFrame({"Average Math Score" : size_math_scores,
                             "Average Reading Score": size_reading_scores,
                             "% Passing Math": size_passing_math,
                             "% Passing Reading": size_passing_reading,
                             "% Overall Passing": size_overall_passing})


# Minor data wrangling
size_summary = size_summary[["Average Math Score",
                             "Average Reading Score",
                             "% Passing Math", "% Passing Reading",
                             "% Overall Passing"]]


# Display results
size_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),NaN,NaN,NaN,NaN,NaN
Medium (1000-2000),83.206697,83.896269,74.980853,85.805463,99.885208
Large (2000-5000),76.954264,80.979413,74.980853,85.805463,93.604340

## Scores by School Type

In [33]:
#  Create new series using groupby for"
# Type | Average Math Score | Average Reading Score | % Passing Math | % Passing Reading | % Overall Passing
type_math_scores = per_school_summary.groupby(["School Type"]).mean()["Average Math Score"]
type_reading_scores = per_school_summary.groupby(["School Type"]).mean()["Average Reading Score"]
type_passing_math = per_school_summary.groupby(["School Type"]).mean()["% Passing Math"]
type_passing_reading = per_school_summary.groupby(["School Type"]).mean()["% Passing Reading"]
type_overall_passing = per_school_summary.groupby(["School Type"]).mean()["% Overall Passing Rate"]

In [35]:
# Assemble into DataFrame
type_summary = pd.DataFrame({"Average Math Score" : type_math_scores,
                             "Average Reading Score": type_reading_scores,
                             "% Passing Math": type_passing_math,
                             "% Passing Reading": type_passing_reading,
                             "% Overall Passing": type_overall_passing})


# Minor data wrangling

type_summary = type_summary[["Average Math Score",
                             "Average Reading Score",
                             "% Passing Math",
                             "% Passing Reading",
                             "% Overall Passing"]]


# Display results
type_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.206697,83.896269,74.980853,85.805463,99.885208
District,76.954264,80.979413,74.980853,85.805463,93.604340